.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
  
.sidebar {
    width: 240px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
  
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
    overflow-y: auto;
}
